# TODO: 仕事用でしか使わないパッケージとかも定義しておきたい
# できる限りインストールする数は減らしておけると便利だし、依存関係も減らせる
# 初期にインストールするものだけシンプルに追加しておいて、必要に応じてbrew installとかした方がいいんじゃないか？

brew "git"
brew "asdf"
brew "jq"
brew "tree"
brew "fzf"
brew "tmux"
brew "gh" # github cli
brew "chezmoi"
brew "neovim"
brew "gpg"
brew "rust"
brew "rustfmt"
brew "ripgrep" # grepするツールかな？Telescopeのlive_grepで使用するため入れている
brew "zplug"
brew "go"
brew "azure-cli"
brew "helm"
brew "kubectl"
brew "oven-sh/bun/bun"
brew "deno"
# tap "hashicorp/tap"
# brew "hashicorp/tap/terraform"
brew "tfenv" # tfenvでterraformのバージョン管理をする

# optional
# brew "swift-format"
# brew "awscli"
# brew "minio/stable/mc"
# brew "fastlane"
# brew "openjdk"

{{ if eq .chezmoi.os "darwin" -}}
tap "dashlane/tap"
cask_args appdir: "/Applications"
brew "mas" # ターミナルからApp Storeのアプリをインストールできるようにするやつ
brew "pinentry-mac" # gpgのパスフレーズ入力用
brew "dashlane-cli" # dashlaneのcli版。chezmoiで機密情報を埋め込むのに使う
brew "kind" # kubernetes in docker

## caskを使うとMacのGUIアプリをインストールできる
cask "slack"
cask "appcleaner"
cask "docker"
cask "notion"
cask "ticktick"
cask "rectangle"
cask "the-unarchiver"
cask "visual-studio-code"
cask "dropbox"
cask "chatgpt"
cask "github"
cask "discord"
cask "vivaldi"
cask "google-chrome"
cask "tableplus"
cask "ogdesign-eagle"
# cask "virtualbox" // m1, m2だと動かないintel系のみらしい。別途インストールしないとかも。
cask "postman"
cask "unity-hub"
cask "zoom"
cask "kindle"
cask "wireshark-app"
cask "spotify"
cask "fl-studio"
cask "font-Hack-nerd-font" # font ~ nerd-fontで検索するといろんなフォントがあるはず
cask "copilot-for-xcode"
cask "ticktick"
cask "wezterm"
cask "font-fira-code"
cask "blender"
cask "gitbutler"
# 基本的にcaskでインストールできるならcaskでいいかなって思う
mas "LINE", id: 539883307

{{ end -}}
